<h1>Recipes</h1>
<% #test_recipe = Recipe.new( 1, "Roasted Brussels Sprouts" ) %>
<ul>
  <% @recipes.each do |recipe| %>
  <%  %>
    <li><a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a></li>
  <% end %>
</ul>
